/* NOSOTROS.CSS - KinetixFit - Estilos exclusivos de la página "Nosotros"*/

/* HERO NOSOTROS */
.hero-section {
    min-height: 70vh;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../img/banner-nosotros.png');
    background-size: cover;
    background-position: center;
    color: var(--blanco);
    display: flex;
    align-items: center;
    border-bottom: 5px solid var(--naranja);
}
.italic {
    font-style: italic;
}

/* TEXTO ESPECÍFICO DE NOSOTROS */
.text-orange-heading {
    color: var(--naranja);
    font-family: var(--font-main);
}

/* TARJETAS DE IMÁGENES */
.tarjeta-producto {
    background-color: var(--blanco);
    height: 450px;
    border: 1px solid #ddd;
    transition: all 0.4s ease;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tarjeta-producto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: transform 0.5s ease;
}

.tarjeta-producto:hover img {
    transform: scale(1.1);
}

.tarjeta-producto:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
    border: 5px solid var(--naranja);
}

/* SECCIÓN HISTORIA */
.historia-section {
    background-color: var(--negro-profundo);
    color: var(--blanco);
}

/* SECCIÓN INVITACIÓN */
.section-invitacion {
    background-color: var(--naranja);
}

.invitacion-titulo {
    font-family: 'Post No Bills Colombo ExtraBold', sans-serif;
    font-size: 3.5rem;
    color: var(--negro-profundo);
    letter-spacing: 1px;
    line-height: 1.1;
    text-transform: uppercase;
    text-align: center;
}

.btn-invitacion {
    background-color: var(--gris-nube);
    color: var(--negro-profundo);
    border-radius: 0;
    padding: 15px 40px;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 1.2rem;
    border: none;
    transition: background 0.3s ease;
}

.btn-invitacion:hover {
    background-color: var(--blanco);
    color: var(--naranja);
}