/* =========================
HERO
========================= */

.hero-home {
    min-height: 40vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)), url('../img/benner2.webp');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}

.hero-home p {
    color: rgba(255, 255, 255, .8);
    font-size: 1.1rem;
}

/* =========================
SIDEBAR
========================= */

.filter-sidebar {
    background: var(--blanco);
    border-radius: 20px;
    border: 1px solid #ececec;
    box-shadow: 0 5px 25px rgba(0, 0, 0, .08);
}

/* =========================
BOTONES GENERO
========================= */

.categoria-btn {
    flex: 1;
    font-size: .9rem;
    background: var(--blanco);
    border: 2px solid var(--gris-carbono);
    color: var(--negro-profundo);
    padding: 10px;
    border-radius: 12px;
    font-weight: 700;
    transition: .3s ease;
}

.categoria-btn:hover {
    background: var(--naranja);
    border-color: var(--naranja);
    color: var(--blanco);
}

.active-genero {
    background: var(--naranja);
    border-color: var(--naranja);
    color: var(--blanco);
}

/* =========================
CATEGORIAS
========================= */

.categoria-producto {
    background: var(--blanco);
    border: 1px solid #ddd;
    padding: 10px 24px;
    border-radius: 50px;
    font-weight: 600;
    transition: .3s ease;
}

.categoria-producto:hover {
    background: var(--naranja);
    border-color: var(--naranja);
    color: var(--blanco);
}

.active-btn {
    background: var(--naranja);
    border-color: var(--naranja);
    color: var(--blanco);
    box-shadow: 0 4px 12px rgba(255, 120, 0, .25);
}

/* =========================
PRODUCT CARD
========================= */

.product-card {
    background: var(--blanco);
    border-radius: 20px;
    overflow: hidden;
    border: 1px solid #ececec;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .06);
    transition: .35s ease;
}

.product-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, .12);
}

.product-card img {
    width: 100%;
    height: 320px;
    object-fit: cover;
}

.product-info {
    padding: 22px;
}

.product-category {
    color: var(--naranja);
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
}

.product-title {
    font-size: 1.1rem;
    font-weight: 700;
    margin: 10px 0;
}

.product-price {
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--negro-profundo);
}

.product-btn {
    width: 100%;
    background: var(--negro-profundo);
    color: var(--blanco);
    border: none;
    padding: 12px;
    border-radius: 12px;
    font-weight: 600;
    transition: .3s ease;
}

.product-btn:hover {
    background: var(--naranja);
}

.categorias-wrapper {
    position: relative;
    padding: 0 50px;
}

.categoria-arrow {
    position: absolute;
    top: 45%;
    transform: translateY(-50%);

    width: 40px;
    height: 40px;

    border: none;
    border-radius: 50%;

    background: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .12);

    z-index: 10;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    transition: .25s ease;
}

.categoria-arrow:hover {
    transform: translateY(-50%) scale(1.08);
}

.categoria-arrow-left {
    left: 0px;
}

.categoria-arrow-right {
    right: 0px;
}

#contenedor-categorias {
    display: flex;
    flex-wrap: nowrap !important;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;

    -webkit-overflow-scrolling: touch;
    width: 100%;

    scroll-snap-type: x proximity;
    position: relative;

    padding-bottom: .75rem;
    margin-bottom: 1.25rem !important;

    flex-wrap: nowrap;
    scroll-behavior: smooth;
}


/* =========================
RESPONSIVE
========================= */

@media(max-width:768px) {
    .hero-home {
        min-height: 250px;
    }

    .hero-home h1 {
        font-size: 3rem;
    }

    .product-card img {
        height: 180px;
    }

    .product-info {
        padding: 14px;
    }

    .product-title {
        font-size: .95rem;
        margin: 6px 0;
    }

    .product-price {
        font-size: 1rem;
        margin-bottom: .75rem;
    }

    .product-label {
        display: none !important;
    }

    .product-btn {
        padding: 10px;
        font-size: .85rem;
    }

    #catalogo-grid {
        --bs-gutter-x: .75rem;
        --bs-gutter-y: .75rem;
    }

    #contenedor-categorias::-webkit-scrollbar {
        display: none;
    }

    #contenedor-categorias .categoria-producto {
        flex: 0 0 auto;
    }

    .categoria-producto {
        min-height: 42px;
        padding: 0 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        white-space: nowrap;
        font-size: .9rem;

        scroll-snap-align: start;
    }

    .categorias-wrapper {
        position: relative;
        padding: 0;
    }

    .categoria-arrow {
        display: none;
    }

    .categorias-wrapper::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 40px;
        height: 100%;

        pointer-events: none;

        background: linear-gradient(to right,
                rgba(255, 255, 255, 0),
                rgba(255, 255, 255, 1));
    }

    .filter-sidebar {
        padding: 1rem !important;
    }

}

@media (min-width: 992px) {
    #panelFiltros {
        display: block !important;
        height: auto !important;
        visibility: visible !important;
    }

}

/* Mobile */
.btn-filtros-mobile {
    background: var(--naranja);
    color: var(--blanco);
    border: none;
    border-radius: 999px;
    height: 48px;
    font-weight: 700;
}

.btn-filtros-mobile:hover {
    background: var(--naranja);
    color: var(--blanco);
}

/* =========================
LOADER CATALOGO
========================= */

.loader-catalogo {
    position: absolute;
    inset: 0;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
    background: rgba(255, 255, 255, .65);
    backdrop-filter: blur(2px);
    border-radius: 24px;
    border: 1px solid #ececec;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .06);
    z-index: 20;
    animation: fadeLoader .25s ease;
}

.loader-catalogo p {
    margin: 0;
    color: var(--gris-carbono);
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: .9rem;
}

.loader-spinner {
    width: 55px;
    height: 55px;

    border-radius: 50%;
    border: 4px solid rgba(0, 0, 0, .08);
    border-top-color: var(--naranja);

    animation: spin .8s linear infinite;
}

/* =========================
ANIMACION PRODUCTOS
========================= */

.product-card {
    animation: productFade .45s ease;
}

.product-card img {
    transition: transform .5s ease;
}

.product-card:hover img {
    transform: scale(1.04);
}

/* =========================
KEYFRAMES
========================= */

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

@keyframes fadeLoader {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }

}

@keyframes productFade {
    from {
        opacity: 0;
        transform: translateY(25px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* =========================
TRANSICION GRID
========================= */

#catalogo-grid {
    transition: opacity .25s ease;
}

.grid-loading {
    opacity: .15;
    pointer-events: none;
}

/* =========================
LOADER OVERLAY
========================= */

.catalogo-wrapper {
    position: relative;
}

/* =========================
ATRIBUTOS PRODUCTO
========================= */

.product-label {
    display: block;
    margin-bottom: 8px;
    color: var(--gris-carbono);
    font-size: .8rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.product-sizes {
    margin-bottom: 14px;
}

.sizes-container {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.size-chip {
    padding: 4px 10px;
    border: 1px solid #ddd;
    border-radius: 50px;
    font-size: .75rem;
    font-weight: 600;
    color: var(--negro-profundo);
    background: var(--blanco);
}

.product-colors {
    margin-bottom: 18px;
}

.colors-container {
    display: flex;
    gap: 10px;
}

.color-dot {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, .15);
    transition: .25s ease;
}

/*Categorias seleccionadas que no arrojan nada*/
.empty-state {
    padding: 80px 20px;
    text-align: center;
    background: var(--blanco);
    border-radius: 24px;
    border: 1px solid #ececec;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .06);
}

.empty-state i {
    font-size: 3rem;
    color: var(--naranja);
    margin-bottom: 20px;
}

.empty-state h4 {
    margin-bottom: 10px;
    font-weight: 700;
}

.empty-state p {
    margin: 0;
    color: var(--gris-carbono);
}

.sizes-filter {
    display: flex;
    gap: .5rem;
    flex-wrap: wrap;
}

.sizes-filter input {
    display: none;
}

.sizes-filter label {
    padding: 8px 14px;
    border: 1px solid #ddd;
    border-radius: 999px;
    cursor: pointer;
    font-weight: 600;
    transition: .3s ease;
    background: var(--blanco);
    color: var(--negro-profundo);
    display: flex;
    align-items: center;
    justify-content: center;
}

.sizes-filter label:hover {
    border-color: var(--naranja);
}

.sizes-filter input:checked+label {
    background: var(--naranja);
    border-color: var(--naranja);
    color: var(--blanco);
}