<div class="modal fade" id="carritoModal" tabindex="-1" aria-labelledby="carritoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title fw-bold" id="carritoModalLabel">Tu Carrito</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            
            <div class="modal-body">
                <ul class="list-group list-group-flush" id="lista-carrito">
                    <li class="list-group-item text-center text-muted">El carrito está vacío</li>
                </ul>
            </div>
            
            <div class="modal-footer d-flex flex-column">
                <div class="d-flex justify-content-between w-100 mb-2">
                    <span class="fw-bold fs-5">Total:</span>
                    <span class="fw-bold fs-5 text-orange" id="carrito-total">$0.00 MXN</span>
                </div>
                <button type="button" class="btn btn-cta w-100">Ir a Pagar</button>
            </div>
        </div>
    </div>
</div>