<!-- Barra de anuncio -->
<div class="announcement-bar text-center py-2">
    <small class="fw-bold apertura">¡PANEL ADMINISTRATIVO!</small>
</div>

<!--  HEADER / NAVBAR -->
<header class="header sticky-top bg-white shadow-sm">

    <nav class="navbar navbar-expand-lg navbar-light container">

        <!-- Logo -->
        <a class="navbar-brand" href="index.html">
            <img src="./img/logo-KIFI.png" alt="KinetixFit Logo" class="logo">
        </a>

        <!-- Mobile Controls -->
        <div class="d-flex align-items-center gap-2 d-lg-none">
            <a class="btn cart-icon" href="#">
                <i class="bi bi-cart4 fs-5"></i>
            </a>

            <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav">

                <span class="navbar-toggler-icon"></span>

            </button>
        </div>

        <!-- Menu -->
        <div class="collapse navbar-collapse" id="navbarNav">

        <ul class="navbar-nav ms-auto px-4">

        <li class="nav-item">
        <a class="nav-link" href="/admin-producto.html">Agregar Producto</a>
        </li>

    </ul>

            <!-- Botones -->
            <div class="d-flex align-items-center gap-2 py-2 py-lg-0">
                <a class="btn-cta w-100 w-lg-auto" id="btnLogout" href="#">
                    SALIR
                </a>

            </div>

        </div>

    </nav>

</header>