@font-face {
  font-family: 'Post No Bills Colombo';
  src: url('../fonts/post-no-bills-colombo/postnobillscolombo-bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
    --bs-body-font-family: "Work Sans", sans-serif;
}

.hero-section {
  min-height: 60vh;
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
              url(../img/banner.png);
  background-size: cover;
  background-position: center;

  font-weight: 900;
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 48px;
  color: #FFFFFF;
}

/*Ofertas por apertura - Anuncio*/
.fw-bold.apertura {
  color: #ff6633 !important;
}

.logo {
width: auto;
height: 30px;
max-height: 30px;
}

/*Tarjetas*/
.container-fluid.py-5.tarjetas{
  background-color: #f2f2f2;
  padding-left: 8%;
  padding-right: 8%;
}

.bg-white.border{
  height: 350px;
}

/*Historia*/
.bg-dark.text-white.py-5{
  background-color: #2E2E2E !important;
}

.text-orange.mb-4{
  color: #ff6633;
}

/*Accion*/
.py-5.text-center.accion{
  background-color: #ff6633 !important;
}

.fw-bold.mb-4.nextlevel{
  font-family: 'Post No Bills Colombo', sans-serif !important;
}

/*Boton Registro*/
#btn-registro {
  background-color: #ff6633;
}

.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-10px) scale(1.03);
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}


.card img {
  height: 250px;
  object-fit: cover;
}


.btn-success {
  transition: transform 0.2s ease, background 0.3s;
}

.btn-success:hover {
  transform: scale(1.1);
  background: #28a745cc;
}


@keyframes pop {
  0% { transform: scale(1); }
  50% { transform: scale(1.4); }
  100% { transform: scale(1); }
}

.pop {
  animation: pop 0.3s ease;
}